*{
    margin:0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    height: 500px;
    width: 350px;
    border-radius: 10px;
}

.display{
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 114, 81);
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
}


.inp{
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}

.teclado{
    height: 50px;
    width: 50px;   
}